workflow/smart-weather-alert-bot.json
{
  "name": "Smart Weather Alert Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "8a6885f0-93b1-44bd-81c3-6df015fc877d",
      "name": "Daily at 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        496
      ]
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "17.3850"
            },
            {
              "name": "longitude",
              "value": "78.4867"
            },
            {
              "name": "current",
              "value": "temperature_2m,relative_humidity_2m,weather_code,wind_speed_10m"
            },
            {
              "name": "temperature_unit",
              "value": "celsius"
            },
            {
              "name": "wind_speed_unit",
              "value": "kmh"
            },
            {
              "name": "timezone",
              "value": "Asia/Kolkata"
            }
          ]
        },
        "options": {}
      },
      "id": "b627e6cf-437c-448a-a88a-98eefa1e33a9",
      "name": "Fetch Hyderabad Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        496
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ [51,53,55,56,57,61,63,65,66,67,80,81,82,95,96,99].includes($json.current.weather_code) }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rain"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current.temperature_2m }}",
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "rightValue": 38
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Extreme Heat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current.temperature_2m }}",
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    },
                    "rightValue": 15
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cold"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Pleasant"
        }
      },
      "id": "d744d150-4d7b-4c06-ad00-b09bf61ef95d",
      "name": "Check Weather Conditions",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        688,
        464
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🌧️ Rain Alert for Hyderabad!\\n\\nRainy conditions are detected. Don't forget your umbrella!\\n\\n🌡️ Temperature: {{ $json.current.temperature_2m }}°C\\n💧 Humidity: {{ $json.current.relative_humidity_2m }}%\\n💨 Wind Speed: {{ $json.current.wind_speed_10m }} km/h",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "af1ae2b8-8156-471b-999d-bb2920d569ac",
      "name": "Send Rain Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        208
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🔥 Extreme Heat Alert for Hyderabad!\\n\\nIt's going to be very hot today. Stay hydrated and avoid direct sunlight!\\n\\n🌡️ Temperature: {{ $json.current.temperature_2m }}°C\\n💧 Humidity: {{ $json.current.relative_humidity_2m }}%\\n💨 Wind Speed: {{ $json.current.wind_speed_10m }} km/h",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "49a983aa-3a1b-4505-8e41-6dcf3d0991a0",
      "name": "Send Heat Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=❄️ Cold Weather Alert for Hyderabad!\\n\\nIt's quite cold today. Dress warmly before heading out!\\n\\n🌡️ Temperature: {{ $json.current.temperature_2m }}°C\\n💧 Humidity: {{ $json.current.relative_humidity_2m }}%\\n💨 Wind Speed: {{ $json.current.wind_speed_10m }} km/h",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "fdf73904-1288-4cc2-a11d-7895d1fb99ff",
      "name": "Send Cold Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        592
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🌤️ Weather Update for Hyderabad!\\n\\nThe weather is currently comfortable.\\n\\n🌡️ Temperature: {{ $json.current.temperature_2m }}°C\\n💧 Humidity: {{ $json.current.relative_humidity_2m }}%\\n💨 Wind Speed: {{ $json.current.wind_speed_10m }} km/h",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "e1dc934e-47ee-441e-9bff-6dae3d958696",
      "name": "Send Pleasant Weather",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        784
      ],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "YOUR_TELEGRAM_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily at 8 AM": {
      "main": [
        [
          {
            "node": "Fetch Hyderabad Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Hyderabad Weather": {
      "main": [
        [
          {
            "node": "Check Weather Conditions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Weather Conditions": {
      "main": [
        [
          {
            "node": "Send Rain Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Heat Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Cold Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Pleasant Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": []
}